.hero__wrapper {
  width: 100%;
  height: 90vh;

  // Hero container
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  // Hero left and right combined
  &Left,
  &Right {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // Hero left
  &Left {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-center;

    h1 {
      font-family: $montserrat;
      margin-bottom: 1.7rem;
    }

    p {
      font-family: $montserrat;
      line-height: 1.6;
      color: $gray-color;
      margin-bottom: 1.7rem;
    }
  }

  // Hero right
  &Right img {
    width: 50%;
  }

  .hero__cta {
    width: 100%;
    margin-top: 1.7rem;
    
    a {
      margin-right: 25px;
    }
  }
}
