.info__wrapper {
  height: 200vh;
  width: 100%;
  background: url("../images//yellow-bg.svg") no-repeat;
  background-size: cover;

  // For pushing down the info
  .container {
    padding: 7rem 0;
  }
}

// Individual info style
.info__wrapper .info {
  margin: 5rem 0;
  display: flex;

  &__leftContainer,
  &__rightContainer {
    flex: 1;

    display: flex;
    align-items: center;

    img {
      width: 70%;
    }
  }

  // Left info container text styles
  .info__leftContainer,
  .info__rightContainer {
    h1 {
      color: #fff;
      font-family: $montserrat;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }

    p {
      color: #fff;
      font-family: $montserrat;
      line-height: 1.6;
      font-weight: 500;
    }
  }
}

// info text alignment
.info .info__leftContainer.text {
  flex-direction: column;
  align-items: flex-start
}

.info .info__rightContainer.text {
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

// info picture alignment
.info .info__leftContainer {
  justify-content: flex-start;
}

.info .info__rightContainer {
  justify-content: flex-end;
}
